* text=auto eol=lf

*.mjs text eol=lf
*.circom text eol=lf
*.json text eol=lf
*.md text eol=lf

*.wasm binary
*.zkey binary
*.r1cs binary
*.wtns binary
*.ptau binary
*.sym binary

circuits/*.wasm linguist-generated
circuits/*_js/* linguist-generated
circuits/*.json linguist-generated
*.circom linguist-language=Circom
